

.all-article-queries {
    display: grid;
    grid-template-columns: 50% 50%;
}

.all-article-queries {
    :is(a) {
        text-decoration: none;
        display: grid
    }
}

.order-pic-text {
    justify-items: center;
    align-items: center;
    :is(a) {
        color: black;
    }
    :is(a) :clicked {
        color: black;
    }
}

.order-arrows-pic {
    padding-right: 0.3rem;
    width: 1.5rem;
    height: auto;
}