img {
    display: inherit
}

a {
    display: inherit
}

/* SMALL */


.article-grid-small {
    display: grid;
    grid-template-rows: repeat(5, auto);
    list-style-type: none;
    margin-bottom: 1rem;
    background-color: rgb(254, 250, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 17rem;
    width: 20rem;
}

@media (max-width: 800px) {
    .article-grid-small {
    }
}

@media (max-width: 400px) {
    .article-grid-small {
        width: 16rem;
    }
}

.article-list-title-small {
    grid-row: 2 / 3;
    font-size: 1rem;
    justify-self: center;
    overflow-wrap: break-word;
    white-space: normal; 
}

.article-list-topic-small {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: end;
    font-size: 0.7rem;
    color: white;
    align-self: center;
    background-color: rgb(0, 17, 70);
    padding: 0.8rem;
    margin-top: 0.2rem;
    margin-right: 0.2rem;
    border-radius: 2rem;
}

@media (max-width: 400px) {
    .article-list-topic-small {
        padding: 0.5rem;
    }
}

.article-list-date-small {
    grid-row:  3/ 4;
    justify-self: end;
    margin-right: 1rem;
    font-size: 1rem;
    align-self: center;
}


.article-list-author-small {
    grid-column: 1 /2;
    grid-row: 1 / 2;
    justify-self: start;
    font-size: 1rem;
    align-self: center;
    margin-left: 0.2rem;
    padding: 0.8rem;

}

.article-list-img-small {
    grid-row: 4 / 5;
    justify-content: center;
    align-content: center;
}

.article-list-img-small {
    width: auto;
    object-fit: contain;
    align-content: center;
    height: 8rem;
}

@media (max-width: 1100px) {
    .article-list-img-small  {
        height: 10rem;
    }
}

@media (max-width: 400px) {
    .article-list-img-small  {
        height: 10rem;
    }
}



.article-list-comment-small {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    justify-self: end;
    margin-right: 3vw;
    font-size: 1em;
}

.article-list-votes-small {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    justify-self: start;
    margin-left: 3vw;
    padding-left: 0.2rem;
}

.votes-pic-text-small {
    display: flex;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    font-size: 1rem;
}

.votes-picture-small {
    width: 1rem;
    height: auto;
}

/* NORMAL */


.article-grid-normal {
    display: grid;
    grid-template-rows: repeat(5, auto);
    list-style-type: none;
    margin-bottom: 1rem;
    background-color: rgb(254, 250, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 9rem;
    margin-right: 9rem;
    width: 50rem;
}

@media (max-width: 800px) {
    .article-grid-normal {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media (max-width: 400px) {
    .article-grid-normal {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        width: 16rem;
    }
}

.article-list-title-normal {
    grid-row: 2 / 3;
    font-size: 1.5rem;
    justify-self: center;
    overflow-wrap: break-word;
    white-space: normal; 
}

.article-list-topic-normal {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: end;
    font-size: 0.9rem;
    color: white;
    align-self: center;
    background-color: rgb(0, 17, 70);
    padding: 0.8rem;
    margin-top: 0.2rem;
    margin-right: 0.2rem;
    border-radius: 2rem;
}

@media (max-width: 400px) {
    .article-list-topic-normal {
        padding: 0.5rem;
    }
}

.article-list-date {
    grid-row:  3/ 4;
    justify-self: end;
    margin-right: 1rem;
    font-size: 1rem;
    align-self: center;
}


.article-list-author-normal {
    grid-column: 1 /2;
    grid-row: 1 / 2;
    justify-self: start;
    font-size: 1rem;
    align-self: center;
    margin-left: 0.2rem;
    padding: 0.8rem;

}

.article-list-img-normal {
    grid-row: 4 / 5;
    justify-content: center;
    align-content: center;
}

.article-list-img-normal {
    width: auto;
    height: 50rem;
    object-fit: contain;
    align-content: center;
    height: 20rem;
}

@media (max-width: 1100px) {
    .article-list-img-normal  {
        height: 20rem;
    }
}

@media (max-width: 400px) {
    .article-list-img-normal  {
        height: 20rem;
    }
}



.article-list-comment-normal {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    justify-self: end;
    margin-right: 3vw;
}

.article-list-votes-normal {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    justify-self: start;
    margin-left: 3vw;
    padding-left: 0.2rem;
}

.votes-pic-text-normal {
    display: flex;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
}

.votes-picture-normal {
    width: 1.2rem;
    height: auto;
}


/* LARGE */


.article-grid-large {
    display: grid;
    grid-template-rows: repeat(5, auto);
    list-style-type: none;
    margin-bottom: 1rem;
    background-color: rgb(254, 250, 250);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50rem;
}

@media (max-width: 800px) {
    .article-grid-large {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media (max-width: 400px) {
    .article-grid-large {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        width: 16rem;
    }
}

.article-list-title-large {
    grid-row: 2 / 3;
    font-size: 2rem;
    justify-self: center;
    overflow-wrap: break-word;
    white-space: normal; 
}

.article-list-topic-large {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: end;
    font-size: 0.7rem;
    color: white;
    align-self: center;
    background-color: rgb(0, 17, 70);
    padding: 0.8rem;
    margin-top: 0.2rem;
    margin-right: 0.2rem;
    border-radius: 2rem;
}

@media (max-width: 400px) {
    .article-list-topic-large {
        padding: 0.5rem;
    }
}

.article-list-date-large {
    grid-row:  3/ 4;
    justify-self: end;
    margin-right: 1rem;
    font-size: 1rem;
    align-self: center;
}


.article-list-author-large {
    grid-column: 1 /2;
    grid-row: 1 / 2;
    justify-self: start;
    font-size: 1.5rem;
    align-self: center;
    margin-left: 0.2rem;
    padding: 0.8rem;

}

.article-list-img-large {
    grid-row: 4 / 5;
    justify-content: center;
    align-content: center;
}

.article-list-img-large {
    width: auto;
    height: 60rem;
    object-fit: contain;
    align-content: center;
    height: 20rem;
    padding: 0.3rem;
}

@media (max-width: 1100px) {
    .article-list-img-large  {
        height: 15rem;
    }
}

@media (max-width: 400px) {
    .article-list-img-large  {
        height: 10rem;
    }
}



.article-list-comment-large {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    justify-self: end;
    margin-right: 3vw;
    font-size: 1rem;
}

.article-list-votes-large {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    justify-self: start;
    margin-left: 3vw;
    padding-left: 0.2rem;
}

.votes-pic-text-large {
    display: flex;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
}

.votes-picture-large {
    width: 1rem;
    height: auto;
}



