

.article-grid {
    display: grid;
    grid-template-columns: repeat(3, 20vw);
    grid-template-rows: repeat(5, auto);
    list-style-type: none;
    margin-bottom: 1rem;
    margin-left: 4vw;
}

.article-list-title {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    font-size: 1rem;
    align-self: center;
}

.article-list-topic {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    font-size: 0.8rem;
    justify-self: start;
    font-weight: bolder;
    font-size: 1rem;
    align-self: center;
}

.article-list-date {
    grid-row:  3/ 4;
    grid-column: 3 / 4;
    justify-self: start;
    font-size: 1rem;
    align-self: center;
}


.article-list-author {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    justify-self: end;
    font-size: 1rem;
    align-self: center;
}

.article-list-img {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    justify-content: center;
}

.article-list-img-normal {
    width: 80vw;
    max-height: 30vh;
    object-fit: contain;
    align-content: center;
}


.article-list-img-small{
    width: 40vw;
    max-height: 20vh;
    object-fit: contain;
    align-content: center;
}

.article-list-img-xsmall{
    width: 40vw;
    max-height: 20vh;
    object-fit: contain;
    align-content: center;
}

.article-list-comment {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
    justify-self: start;
}

.article-list-votes {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    justify-self: end;
}

.votes-picture {
    width: 1.2rem;
    height: auto;
}
