
    .header {
      display: grid;
      grid-template-columns: 30% 70%;
      grid-template-rows: 30% 40% 30%;
      background-color: rgb(0, 17, 70);
      position: fixed;
      width: 100%;
      margin: 0px;
      height: 9.9vh;
      z-index: 10;
    }
    
    .header-title {
      font-size: 2em;
      margin-right: 0;
      margin-left: 0.3em;
      color: white;
      text-decoration: none;
      padding: 0.5rem;
    }


    .header-title-link:visited {
      color: white;
    }

    .users-joined-text {
        color: white;
        justify-self: end;
        margin-right: 1vw;
        margin-top: 1vh;
    }
    