
.home-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 5vh;
    justify-content: center;
}


.home-main-article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}

.home-small-articles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;

}


@media only screen and (max-width: 800px) {
    .home-main-article {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    
    }

    .home-small-articles {
        align-content: center;
        justify-content: center;
    
    }

    
  }