

.post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.comment-box {
    font: inherit;
    width: 35%;
    height: 10vh;
}

.post-comment {
    margin: 1vw;

}