

.all-articles-link {
    padding: 0.2rem;
    font-size: 1.3rem;

}


.all-topics-link {
    padding: 0.2rem;
    font-size: 1.3rem;
}


.sidebar {
    position: fixed;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    top: 0;
    left: 0;
    bottom: 0;
    width: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    background-color:rgb(249, 249, 249)
}

@media (max-width: 600px) {
    .sidebar {
        width: 21%
    }
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 20vh;
}

@media (max-width: 400px) {
    .all-articles-link {
        margin-left: 0px
    
    }
}