

.viewArticleGrid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(6, auto);
    margin-bottom: 1rem;
    margin-left: 2vw;
    margin-right: 2vw;
}


.viewArticle-title {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    font-size: 1rem;
    align-self: center;
}

.viewArticle-id {
    font-size: 0.8rem;
    justify-self: start;
    font-weight: bolder;
    align-self: center;
    justify-self: start;
}

.viewArticle-topic {
    grid-column: 2 / 3;
    font-weight: bolder;
    align-self: center;
    font-size: 0.8rem;
    justify-self: end;
}

.viewArticle-toprow-id-topic {
    grid-column: 1 / 4;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, auto)
}

.viewArticle-date {
    grid-row:  3/ 4;
    grid-column: 3 / 4;
    justify-self: start;
    font-size: 1rem;
    align-self: center;
}


.viewArticle-author {
    grid-column: 3 / 4;
    grid-row: 6 / 7;
    justify-self: end;
    font-size: 1rem;
    align-self: center;
}

.viewArticle-img-url {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
}

@media (max-width: 600px) {
    .viewArticle-img-size {
        width: auto;
        height: 100%;
        max-height: 20vh;
        object-fit: contain;
        margin: 1rem;
    }
}

@media (max-width: 1200px) {
    .viewArticle-img-size {
        width: auto;
        height: 100%;
        max-height: 35vh;
        object-fit: contain;
        margin: 1rem;
    }
}

.viewArticle-body {
    grid-column: 1 / 4;
    grid-row: 5 / 6;
    justify-self: start;
    font-size: 1rem;
    align-self: center;
    object-fit: contain;
}


.viewArticle-comment {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    justify-self: start;
}

.viewArticle-votes {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    justify-self: start;
}

.viewArticle-votes-up {
    width: 1.2rem;
    height: auto;
    align-self: center;
}

.viewArticle-votes-down {
    width: 1rem;
    height: auto;
    align-self: center;
}