

.viewArticleGrid {
    position: relative;
    display: grid;
    grid-template-rows: repeat(6, auto);
    margin-bottom: 1rem;
    margin-top: 3%;
    z-index: -10;
    margin-right: 5%;
    margin-left: 5%;
}


@media (max-width: 600px) {
    .viewArticle-Grid {
        margin-right: 0;
        margin-left: 0;
    }
}


.viewArticle-title {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 1.5rem;
    align-self: center;
}

.viewArticle-id {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 0.8rem;
    font-weight: bolder;
    align-self: start;
    justify-self: start;
}

.viewArticle-topic {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-weight: bolder;
    align-self: center;
    justify-self: center;
    font-size: 0.8rem;
    justify-self: end;
    background-color: rgb(0, 17, 70);
    padding: 0.8rem;
    border-radius: 2rem;
    color: white;
}

/* .viewArticle-toprow-id-topic {
    grid-column: 1 / 2;
} */

.viewArticle-date {
    grid-row:  3/ 4;
    grid-column: 1 / 2;
    justify-self: start;
    font-size: 1rem;
    align-self: start;
}


.viewArticle-author {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    justify-self: end;
    font-size: 1rem;
    align-self: center;
}




.viewArticle-img-url {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    margin: 1rem;
    justify-self: center;
}

@media (max-width: 600px) {
    .viewArticle-img-size {
        width: auto;
        height: 100%;
        max-height: 20vh;
        object-fit: contain;
    }
}

@media (max-width: 1200px) {
    .viewArticle-img-size {
        width: auto;
        height: 100%;
        max-height: 35vh;
        object-fit: contain;
        margin: 1rem;
    }
}

.viewArticle-body {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    justify-self: start;
    font-size: 1rem;
    align-self: center;
    object-fit: contain;
    padding-bottom: 5vh;
}



.viewArticle-comment {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    justify-self: end;
    align-self: end;
}

.viewArticle-votes {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    justify-self: start;
    display: flex;
}


.viewArticle-votes-up {
    width: 1.2rem;
    height: auto;
    align-self: center;
}

.viewArticle-votes-down {
    width: 1rem;
    height: auto;
    align-self: center;
}