body {
  margin: 0;
  background-color: rgb(255, 253, 253);
}

#root {
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}


.articles-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.article-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main {
  padding-top: 8.2vh;
  padding-left: 19vw;
}

