body {
  margin: 0;
  background-color: rgb(255, 253, 253);
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: rgb(45, 45, 45);
}

a:hover {
  color: white;
  background-color: rgb(0, 17, 70);
  border-radius: 0.5rem;
}

a:visited {
  text-decoration: none;
}


li {
  display: inherit;
}

#root {
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  display: grid;
  grid-template-columns: 10vh 1fr;
  grid-template-rows: 10vh 1fr;

}


.articles-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.article-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main {
  width: 100%;
  background-color: inherit;
  grid-row: 2 / 2;
  grid-column: 2 / 3;
}

@media (max-width: 600px) {
  .main {
    padding-left: 20vw;
  }
}

